
# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

homeassistant:
  name: 24W
  latitude: 40.607964
  longitude: -73.740870
  elevation: 3
  unit_system: imperial
  time_zone: America/New_York
  external_url: !secret externalurl
  internal_url: "http://192.168.24.180:8123"
  
# Text to speech
tts:
  - platform: google_translate

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

homeseer:
  host:  192.168.24.16
  namespace: homeseer
  http_port: 80
  ascii_port: 11000
  username: !secret homeseer_user
  password: !secret homeseer_pw
  name_template: 'HS - {{ device.location2 }} {{ device.location }} {{ device.name }}'
  allow_events: True

#jewish_calendar:
#  diaspora: false

google:
  client_id: !secret gcalclientid
  client_secret: !secret gcalsecret

sensor:
- platform: time_date
  display_options:
    - 'time'
    - 'date'
    - 'date_time'
    - 'date_time_utc'
    - 'date_time_iso'
    - 'time_date'
    - 'time_utc'
    - 'beat'

history:
  exclude:
    entities:
      - sensor.date
      - sensor.date_time
      - sensor.date_time_utc
      - sensor.date_time_iso
      - sensor.internet_time
      - sensor.time
      - sensor.time_date
      - sensor.time_utc

input_boolean:
  shabbat_mode_toggle:
    name: Shabbat Mode
    icon: mdi:calendar-star
