
# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

#homeassistant:
#  name: 24W
#  latitude: 40.607964
#  longitude: -73.740870
#  elevation: 3
#  unit_system: imperial
#  time_zone: America/New_York
#  external_url: !secret externalurl
#  internal_url: "http://192.168.24.180:8123"

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 192.168.24.180  # Add the IP address of the proxy server
    - 172.30.33.0/24  # You may also provide the subnet mask
  
# Text to speech
tts:
  - platform: google_translate

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

#homeseer:
#  host:  192.168.24.16
#  namespace: homeseer
#  http_port: 80
#  ascii_port: 11000
#  username: !secret homeseer_user
#  password: !secret homeseer_pw
#  name_template: '{{ device.name }}'
#  allow_events: false

google:
  client_id: !secret gcalclientid
  client_secret: !secret gcalsecret

sensor:
- platform: time_date
  display_options:
    - 'time'
    - 'date'
    - 'date_time'

binary_sensor:
  - platform: template
    sensors:
      shabbat_day:
        friendly_name: "Shabbat Day"
        value_template: >-
          {{ states.input_datetime.shabbat_morning_begins.state < states('sensor.time')  < states.input_datetime.shabbat_night_begins.state }}
  - platform: template
    sensors:
      awake:
        friendly_name: "Awake Hours"
        value_template: >-
          {{ states.input_datetime.awake_begins.state < states('sensor.time')  < states.input_datetime.asleep_begins.state }}

history:
  exclude:
    entities:
      - sensor.date
      - sensor.date_time
      - sensor.time

#input_boolean:
#  shabbat_mode_toggle:
#    name: Shabbat Mode
#    icon: mdi:calendar-star

#jewish_calendar:
#  diaspora: true
